nav{
    font-size: 1.2em;
    justify-content: space-around;
    margin:0 5px 0 5px;
}

#may{
    width:22%;
    height: 330px;
    padding: 10px;
    margin:15px 0px 0px 30px;
    text-align: center;
}

a {
    margin:5px;
    padding: 4px;
    color: black;
    text-decoration: none;
}
a :hover a:link{
    text-decoration-line: underline;
}

aside{
    float: right;
}

section aside {
    width:58%;
    padding: 10px;
    margin:20px 70px 20px 20px;
}

.position{
    float: left;
    text-align: left ;
}

h1 {
    font-size: 2em;
    color: red ;
}
h2{
    font-family:   Geneva;
}

.p{
    padding: 20px;
    margin-right: 20px;
    font-size: 1em;
}

#btn{
    border: black solid 2px;
    padding: 5px 15px  5px 15px;
}
#btn :hover{
    background-color: whitesmoke;
    
}

h3{
    color: red ; 
    font-size: 1.2em;
}

#aria-grid {
    margin-left: 7% ;
    margin-right: 7% ;
    padding:40px;
    justify-content: space-around;
}

#aria-grid section{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    text-align: center;
    margin: 20px 15px 10px 15px;
    justify-content: space-around;
}   
#item1 {
    grid-column: 1 / 2;
}
#item2 {
    grid-column: 2 / 3;
}
#item3 {
    grid-column: 3 / -1;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
  }
  
  .dropdown:hover .dropdown-options {
    display:grid;
  }

.arrow {
    

    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.small-link{
    font-size: 0.5em;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgb(0 0 0 / 10%);
}

#myEXP{
    background-color: whitesmoke;
    padding:20px;
    line-height: 30px;
    margin-top: 15%;
    margin-bottom: 20%;
}

.EXP{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 20px;
    text-align: left;
    margin-left: 15% ;
    margin-right: 15% ;
    place-content: space-around;
    line-height: 1.5em;
}

.EXP-sec{
    font-size: 0.8em;
    margin: 15px;
    padding:15px;
    justify-content: space-between;
    grid-gap: 15px;

}

.EXP-sec p{
    font-family:"Montserrat", sans-serif ;
}

#img-aside{
    float: right;
    width:400px;
    height: 500px;
    padding: 15px;
}
